<h3>Theme:</h3> 
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @article.title %> </h3>
  </div>
  <div class="panel-body">
    <%= @article.text %>
    <%= link_to 'edit', edit_article_path(@article) ,class: "btn btn-warning pull-right"%> 
  </div>
</div>


<!--p>	
  <strong>主題:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>內容:</strong>
  <%= @article.text %>
</p-->
 
<h3>Respone</h3>
<%= render @article.comments %>
 
 <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= "Add Comment" %> </h3>
  </div>
  <div class="panel-body">
    <%= render 'comments/form' %>
    <%= link_to 'back', articles_path ,class: "btn btn-info pull-left" %>
  </div>
</div>
 



